.small-techniques {
    border-radius: 50%;
    /* Establecer el radio a la mitad del ancho o alto de la imagen */
    width: 200px;
    /* Establecer el ancho de la imagen */
    height: 200px;
    /* Establecer la altura de la imagen */
    object-fit: cover;
    /* Ajustar la imagen al tamaño del contenedor */
    height: auto;
    max-width: 100px;
    max-height: 100px;
}