.footer__column_content_copyright {
    justify-content: space-between;
    flex-basis: 711px;
}


/*
 display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
    flex-basis: 711px;
    */