.oakley__two-columns {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 24px;
    line-height: 34px;
    padding-left: 50px;
}