.khan__buy-link {
    right: 450px;
    position: absolute;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: rgb(68, 68, 249);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.khan__buy-link:hover {
    opacity: 0.5;
}