.header__square {
    bottom: 54px;
    width: 568px;
    position: absolute;
    background-color: #2F80ED;
    top: 64px;
    right: 0;
    margin: auto;
    transform: rotate(-15deg);
    animation: rotate-square 20s linear infinite;
}

@keyframes rotate-square {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}