.two-columns__paragraph {
    width: 80%;
    min-width: 784px;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    display: inline;
}