.table {
    margin: 0 auto;
    width: 1100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 60px;
    row-gap: normal;
    padding-bottom: 100px;
}