.kaufman__triangle {
    position: absolute;
    right: 124px;
    top: 0px;
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}