.table__list_theme_dark {
    display: flex;
    list-style: none;
    margin-bottom: 60px;
    justify-content: space-between;
    margin: auto;
    width: 1100px;
    z-index: 1;
    padding-bottom: 90px;
}