@import url(../styles/normalize.css);
@import url(../blocks/body/body.css);
@import url(../blocks/pages.css);

/*Header*/

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/logo.css);
@import url(../blocks/header/__logo/logo_place_header.css);
@import url(../blocks/header/header__title.css);
@import url(../blocks/header/header__subtitle.css);
@import url(../blocks/header/header_link.css);
@import url(../blocks/header/header__square.css);
@import url(../blocks/header/rotation/rotation.css);
@import url(../blocks/header/main-ilustration.css);

/*content*/

@import url(../blocks/content/__description/description.css);
@import url(../blocks/content/__description/__two-columns/two-columns.css);
@import url(../blocks/content/__description/__two-columns/two-columns__brief.css);
@import url(../blocks/content/__description/__two-columns/two-columns__main-text.css);
@import url(../blocks/content/__description/__two-columns/two-columns__paragraph.css);
@import url(../blocks/content/__description/__two-columns/two-columns__span-accent.css);
@import url(../blocks/content/__description/__two-columns/two-columns__brief.css);

/*techniques*/

@import url(../blocks/techniques/__title/techniques__title.css);
@import url(../blocks/techniques/__subtitle/techniques__subtitle.css);
@import url(../blocks/techniques/__cards/techniques__cards.css);
@import url(../blocks/techniques/__cards/_item/techniques__cards-item.css);
@import url(../blocks/techniques/__cards/_image/techniques__cards-image.css);
@import url(../blocks/techniques/__cards/_title/techniques__cards-title.css);
@import url(../blocks/techniques/__cards/_description/techniques__cards-description.css);

/*video*/

@import url(../blocks/video/__title/video__title.css);
@import url(../blocks/video/__subtitle/video__subtitle.css);
@import url(../blocks/video/video.css);
@import url(../blocks/video/video__iframes.css);
@import url(../blocks/video/__iframe/iframe.css);
@import url(../blocks/video/__frame/video__frame.css);

/*oakley*/

@import url(../blocks/oakley/oakley.css);
@import url(../blocks/oakley/__two-columns/oakley__two-columns.css);
@import url(../blocks/oakley/__two-columns/_blue/oakley_two-columns_blue.css);

/*digits*/

@import url(../blocks/digits/digits.css);
@import url(../blocks/digits/__title/section-title.css);
@import url(../blocks/digits/__subtitle/section-subtitle.css);
@import url(../blocks/digits/__table/table.css);
@import url(../blocks/digits/__table/__cell/table__cell.css);
@import url(../blocks/digits/__table/__heading/table__heading.css);
@import url(../blocks/digits/__table/__list/table__list.css);
@import url(../blocks/digits/__table/__text/table__text.css);

/*feynman*/

@import url(../blocks/feynman/feynman.css);
@import url(../blocks/feynman/__title/feynman__title.css);
@import url(../blocks/feynman/__subtitle/feynman__subtitle.css);
@import url(../blocks/feynman/__link/feynman__link.css);
@import url(../blocks/feynman/__image/feynman__image.css);

/*khan*/

@import url(../blocks/khan/khan.css);
@import url(../blocks/khan/__author/khan__author.css);
@import url(../blocks/khan/__title/khan__title.css);
@import url(../blocks/khan/__quote/khan__quote.css);
@import url(../blocks/khan/__quote-author/khan__quote-author.css);
@import url(../blocks/khan/__quote-author/khan__quote-author-subline.css);
@import url(../blocks/khan/__container/khan__container.css);
@import url(../blocks/khan/__book/khan__book-container.css);
@import url(../blocks/khan/__buy-link/khan__buy-link.css);
@import url(../blocks/khan/__book/book-pic.css);

/*kaufman*/

@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/kaufman/__title/section-title_theme_dark.css);
@import url(../blocks/kaufman/__subtitle/section-subtitle_theme_dark.css);
@import url(../blocks/kaufman/__table/table_theme_dark.css);
@import url(../blocks/kaufman/__table/__list/table__list_theme_dark.css);
@import url(../blocks/kaufman/__table/__cell/table__cell_theme_dark.css);
@import url(../blocks/kaufman/__table/__heading/table__heading_theme_dark.css);
@import url(../blocks/kaufman/__table/__text/table__text_theme_dark.css);
@import url(../blocks/kaufman/__triangle/kaufman__triangle.css);

/*resources*/

@import url(../blocks/resources/__title/resources__title.css);
@import url(../blocks/resources/__subtitle/resources__subtitle.css);
@import url(../blocks/resources/__logo/resources__logo.css);
@import url(../blocks/resources/__logo/_zone/resources__logo-zone.css);

/*footer*/

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__columns/_copyright/footer__column_content_copyright.css);
@import url(../blocks/footer/__columns/_copyright/__logo/logo_place_footer.css);
@import url(../blocks/footer/__columns/_copyright/__author/footer__author.css);
@import url(../blocks/footer/__columns/_about/footer__column_content_about.css);
@import url(../blocks/footer/__columns/_heading/footer__column-heading.css);
@import url(../blocks/footer/__columns/_about/__list/footer__list.css);
@import url(../blocks/footer/__columns/_about/__list/_bpoints/footer__list_bpoints.css);
@import url(../blocks/footer/__columns/_social/footer__column_content_social.css);
@import url(../blocks/footer/__columns/_social/footer__social-icons.css);
@import url(../blocks/footer/__columns/_social/__icon/footer__icon.css);