@import url(../styles/normalize.css);
@import url(../blocks/body/body.css);
@import url(../blocks/pages.css);

/*logo*/

@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_header/logo_place_header.css);
@import url(../blocks/logo/_footer/logo_place_footer.css);

/*table*/

@import url(../blocks/table/table.css);
@import url(../blocks/table/_theme_dark/table_theme_dark.css);
@import url(../blocks/table/__cell/table__cell.css);
@import url(../blocks/table/__cell/table__cell_theme_dark.css);
@import url(../blocks/table/__heading/table__heading.css);
@import url(../blocks/table/__heading/table__heading_theme_dark.css);
@import url(../blocks/table/__text/table__text.css);
@import url(../blocks/table/__text/table__text_theme_dark.css);

/*rotation*/

@import url(../blocks/rotation/rotation.css);

/*Header*/

@import url(../blocks/header/header.css);
@import url(../blocks/header/header__title.css);
@import url(../blocks/header/header__subtitle.css);
@import url(../blocks/header/header__square.css);
@import url(../blocks/header/main-ilustration.css);

/*description*/

@import url(../blocks/description/description.css);
@import url(../blocks/description/__two-columns/two-columns.css);
@import url(../blocks/description/__two-columns/two-columns__brief.css);
@import url(../blocks/description/__two-columns/two-columns__main-text.css);
@import url(../blocks/description/__two-columns/two-columns__paragraph.css);
@import url(../blocks/description/__two-columns/two-columns__span-accent.css);

/*techniques*/

@import url(../blocks/techniques/techniques.css);
@import url(../blocks/techniques/__cards/cards.css);
@import url(../blocks/techniques/__cards/_item/cards__item.css);
@import url(../blocks/techniques/__cards/_image/cards__image.css);
@import url(../blocks/techniques/__cards/_title/cards__title.css);
@import url(../blocks/techniques/__cards/_description/cards__description.css);

/*video*/

@import url(../blocks/video/video.css);
@import url(../blocks/video/__iframes/video__iframes.css);
@import url(../blocks/video/__iframes/__iframe/video__iframe.css);

/*oakley*/

@import url(../blocks/oakley/oakley.css);

/*feynman*/

@import url(../blocks/feynman/feynman.css);
@import url(../blocks/feynman/__title/feynman__title.css);
@import url(../blocks/feynman/__subtitle/feynman__subtitle.css);
@import url(../blocks/feynman/__link/feynman__link.css);
@import url(../blocks/feynman/__image/feynman__image.css);

/*digits*/

@import url(../blocks/digits/digits.css);
@import url(../blocks/digits/__title/section-title.css);
@import url(../blocks/digits/__subtitle/section-subtitle.css);

/*khan*/

@import url(../blocks/khan/khan.css);
@import url(../blocks/khan/__container/khan__container.css);
@import url(../blocks/khan/__author/khan__author.css);
@import url(../blocks/khan/__title/khan__title.css);
@import url(../blocks/khan/__quote/khan__quote.css);
@import url(../blocks/khan/__quote-author/khan__quote-author.css);
@import url(../blocks/khan/__quote-author/__quote-author-subline/khan__quote-author-subline.css);
@import url(../blocks/khan/__book/khan__book-container.css);
@import url(../blocks/khan/__book/khan__book-pic.css);
@import url(../blocks/khan/__buy-link/khan__buy-link.css);

/*kaufman*/

@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/kaufman/__title/section-title_theme_dark.css);
@import url(../blocks/kaufman/__subtitle/section-subtitle_theme_dark.css);
@import url(../blocks/kaufman/__triangle/kaufman__triangle.css);

/*resources*/

@import url(../blocks/resources/resources.css);
@import url(../blocks/resources/__logo/_zone/resources__logo-zone.css);
@import url(../blocks/resources/__logo/resources__logo.css);

/*footer*/

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__columns/footer__columns.css);
@import url(../blocks/footer/__column/footer__column.css);
@import url(../blocks/footer/__column/_copyright/footer__column_content_copyright.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/footer/__column/_about/footer__column_content_about.css);
@import url(../blocks/footer/__column/_heading/footer__column-heading.css);
@import url(../blocks/footer/__list/footer__list.css);
@import url(../blocks/footer/__column/_link/footer__column-link.css);
@import url(../blocks/footer/__social-icons/footer__social-icons.css);