.khan__buy-link {
    text-decoration: none;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: rgb(68, 68, 249);
    opacity: 1;
    transition: opacity 0.5s ease;
}

.khan__buy-link:hover {
    opacity: 0.5;
}